a{
	margin: 7px;
}

.hover, .rotate, .skew, .translatex, .translatey, .scale, .threed {
			width: 110px;
        	line-height: 0;
        	padding: 50px 0;
        	margin: 60px auto;
        	background-color: black;
  		color: white;
             	border-radius: 50%;
        	cursor: pointer;
			transition-property: color, background-color, transform;
			transition-duration: 2s;
			transition-delay: 0s;
			transition-timing-function: ease-out;
}

.hover:hover {
color: black;
background-color:mediumvioletred;
}

.rotate:hover {
color: black;
background-color: mediumvioletred;
transform: rotate(360deg);
}

.skew:hover {
color: black;
background-color: dodgerblue;
transform: skew(40deg);

}

.translatex:hover {
	color: black;
background-color: mediumvioletred;
transform: translateX(-40px)
}

.translatey:hover {
color: black;
background-color: dodgerblue;
transform: translateY(50px)
}

.scale:hover {
	color: black;
background-color: dodgerblue;
transform: scale(2)
}


.threed:hover {
	color: black;
background-color: mediumvioletred;
transform:rotate3d(2, 2, 2, 360deg)
}





.flexone{
    display: flex;
    flex-direction: row;
    background-color: dodgerblue;
}

.flextwo{
    display: flex;
    flex-direction: row;
    background-color: mediumvioletred;
}

