
  
    ul li{
        float: left;
        list-style: none;
        background-color: lavender;
        opacity: .5;

    }

    ul li a{
        border: black solid 2px;
        
        margin-right: 5px;
        width: 120px;
        height: 50px;
        line-height: 50px;
display: inline-block;
text-align: center;


    }

ul li a:hover{
    background-color: silver;
    color: skyblue;
    font-size: 25px;
}

.dropdown li  a{
    height: 25px;
    line-height: 25px;
}

.dropdown li{
    float: none;

}

li .dropdown {
    visibility: hidden;
}

li:hover .dropdown{
    visibility: visible;
    
}
